body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    margin: 0;
}

.calculator {
    background-color: #000;
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.calculator__display {
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: right;
}

.calculator__input {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
    border: none;
    background: none;
    text-align: right;
    outline: none;
    caret-color: #005fef;
}

.calculator__output {
    font-size: 1.5em;
    color: #636262;
    font-weight: 30%;
}

.calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.calculator__key {
    background-color: #333;
    border: none;
    border-radius: 50%;
    padding: 16px;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.calculator__key:hover {
    background-color: #555;
    transition: background-color 0.3s ease; 
}

.calculator__key:active {
    transform: scale(0.95); 
}

.calculator__key--equals {
    background-color: #005fef;
    grid-column: span 1;
}

.calculator__key--equals:hover {
    background-color: #004bb5;
    transition: background-color 0.3s ease; 
}

/* For tablets in portrait mode and small desktops */
@media screen and (max-width: 768px) {
    .calculator {
        width: 90%;
        padding: 10px;
    }
    
    .calculator__input {
        font-size: 1.5em;
        padding: 10px;
    }

    .calculator__output {
        font-size: 1.2em;
        padding: 10px;
    }

    .calculator__key {
        padding: 12px;
        font-size: 1.2em;
    }
}

/* For mobile devices */
@media screen and (max-width: 480px) {
    .calculator {
        width: 100%;
        padding: 5px;
    }
    
    .calculator__input {
        font-size: 1.2em;
        padding: 5px;
    }

    .calculator__output {
        font-size: 1em;
        padding: 5px;
    }

    .calculator__key {
        padding: 10px;
        font-size: 1em;
    }

    .calculator__keys {
        gap: 10px;
    }
}