
.edit-profile-container {
    position: relative; /* Ensure the close button is positioned relative to this container */
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.input-field-colour{
    width: 2rem; /* Adjust width to your preference */
    height: 2rem; /* Adjust height to your preference */
    border: none; /* Remove default border */
    border-radius: 50%; /* Make it a circle */
    background-color: rgb(217, 243, 255);
    cursor: pointer;
    padding: 0; /* Remove padding */
    appearance: none; /* Remove default styling */
}

.edit-profile-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
}

.form-layout {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.form-left, .form-right {
    flex: 1;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: bold;
    color: #333;
}

.input-field {
    width: 60%; /* Adjusted to take full width of the container */
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.submit-button {
    padding: 0.75rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    width: 60%;
    align-self: center;
}

.submit-button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 10; /* Ensure the button is on top of other elements */
    color: #333; /* Ensure the button color contrasts with the background */
}
