
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  margin: 0;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px; 
  width: 90%;
  max-width: 1200px;
}


