.signup-container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px; /* Increased width */
    margin: auto;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-layout {
    display: flex;
    justify-content: space-between;
    
    gap: 9rem; 
}

.form-left, .form-right {
    flex: 1; /* Both sides take equal space */
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.4rem;
    font-weight: bold;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.submit-button {
    padding: 0.75rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    width: 100%;
}

.submit-button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}
