/* src/styles/SignIn.css */

.signin-container {
    background-color: rgb(217, 243, 255);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(18, 17, 17, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  .signin-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .signin-container form {
    display: flex;
    flex-direction: column;
  }
  
  .signin-container div {
    margin-bottom: 1rem;
  }
  
  .signin-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .input-field {
    background-color: rgb(217, 243, 255);
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .submit-button {
    padding: 0.75rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .signup-message {
    text-align: center;
    margin-top: 2rem;
  }
  
  .signup-message p {
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  .signup-link {
    color: #008CBA;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  